<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adapsense.escooter">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <receiver android:name=".receivers.NetworkChangedBroadcastReceiver">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home" />
        <activity
            android:name=".scan.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".analytics.views.AnalyticsChartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".analytics.views.AnalyticsMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messages.views.MessagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash" />
        <activity
            android:name=".feedback.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash" />
        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>